body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #597650;
  background-image: url('images/bg 1.png');
  background-size: 790px 697px;
  background-position: top left;
  background-repeat: no-repeat;
}

.title {
  font-size: 69px;
  font-weight: 400;
  line-height: 200px;
  text-align: center;
  color: #597650;
}

.product-list{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text {
  color: #9bad96;
}


.card {
  background-color: #eefdee;
  height: 530px;
  width: 304px;
  border: 1px solid #9bad96;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 40px;
  margin: 30px;
}

.product-title {
  text-align: center;
  margin: 28px;
}

.price {
  display: flex;
  justify-content: space-between;
}

.ingredients-list{
  margin-top: 10px;
  margin-bottom: 35px;
}

.spacing-small{
  margin-bottom: 20px;
}

.pictures {
 width: 300px;
}